# Analysis for salmon trap data in the Dungenesss River from 2006
### Description of data:
Data is stored in MS Excel files with one sheet per year. For 2006, the counts for wild and hatchery fish are separate.

In [1]:
#imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from urllib.request import urlopen
from bs4 import BeautifulSoup
import io

In [32]:
# #read file in Windows
try:
    df_2006 = pd.read_excel(
   io="C:/Users/maria/OneDrive/Documents/data/pied_piper/Dungeness smolt trap 2005 - 2014.xlsx",
   sheet_name ='2006',
    header = [1,2]
)
except PermissionError:
    print("Permission Error. Close the file, if it is open.")
    

df_2006.head()
columns = list(df_2006)
print(columns)

df_2006.columns  = ['_'.join(col) for col in df_2006.columns.values]
print(df_2006.columns)
df_2006 = df_2006.rename(columns={"Dates and fishing times_Down": "Down",
                        "Dates and fishing times_Up": "Up",
                        "Dates and fishing times_TimeIn": "In"})
df_2006 = df_2006.iloc[:-3]
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df_2006)

[('Dates and fishing times', 'Down'), ('Dates and fishing times', 'Up'), ('Dates and fishing times', 'TimeIn'), ('Chinook0', 'Total'), ('Chinook0', 'HatCWT'), ('Chinook0', 'Unmk Wld'), ('Chinook1', 'Total'), ('Chinook1', 'HatCWT'), ('Chinook1', 'Unmk '), ('Coho1', 'Total'), ('Coho1', 'Wild UC'), ('Coho1', 'Wldunmk'), ('Coho1', 'Hat-AD'), ('Coho0', 'Total'), ('Chum', 'Total'), ('Pink', 'Total'), ('Steelhead1', 'Total'), ('Steelhead1', 'WldUC'), ('Steelhead1', 'Wldunmk'), ('Steelhead1', 'Hat-AD'), ('Steely', 'Adult'), ('Cutthroat', 'Smolts'), ('Dolly varden', 'Smolt'), ('Dolly varden', 'Adult'), ('Trout Parr', 'Total'), ('Trout Parr', 'Steely'), ('Trout Parr', 'Cutts')]
Index(['Dates and fishing times_Down', 'Dates and fishing times_Up',
       'Dates and fishing times_TimeIn', 'Chinook0_Total', 'Chinook0_HatCWT',
       'Chinook0_Unmk Wld', 'Chinook1_Total', 'Chinook1_HatCWT',
       'Chinook1_Unmk ', 'Coho1_Total', 'Coho1_Wild UC', 'Coho1_Wldunmk',
       'Coho1_Hat-AD', 'Coho0_Total', 'Chum_Total', 'Pink_Total',
       'Steelhead1_Total', 'Steelhead1_WldUC', 'Steelhead1_Wldunmk',
       'Steelhead1_Hat-AD', 'Steely_Adult', 'Cutthroat_Smolts',
       'Dolly varden_Smolt', 'Dolly varden_Adult', 'Trout Parr_Total',
       'Trout Parr_Steely', 'Trout Parr_Cutts'],
      dtype='object')

In [38]:
#making new columns
df_2006["Down"] = pd.to_datetime(df_2006["Down"])
df_2006["Up"] = pd.to_datetime(df_2006["Up"])
df_2006['Date'] = df_2006['Down'].dt.date
df_2006['midpoint'] = df_2006['Down'] + (df_2006['Up'] - df_2006['Down'])/2
print(df_2006.columns)

Index(['Down', 'Up', 'In', 'Chinook0_Total', 'Chinook0_HatCWT',
       'Chinook0_Unmk Wld', 'Chinook1_Total', 'Chinook1_HatCWT',
       'Chinook1_Unmk ', 'Coho1_Total', 'Coho1_Wild UC', 'Coho1_Wldunmk',
       'Coho1_Hat-AD', 'Coho0_Total', 'Chum_Total', 'Pink_Total',
       'Steelhead1_Total', 'Steelhead1_WldUC', 'Steelhead1_Wldunmk',
       'Steelhead1_Hat-AD', 'Steely_Adult', 'Cutthroat_Smolts',
       'Dolly varden_Smolt', 'Dolly varden_Adult', 'Trout Parr_Total',
       'Trout Parr_Steely', 'Trout Parr_Cutts', 'Date', 'midpoint'],
      dtype='object')